<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kjdy.josephdemo">

    <application
        android:name=".JosephApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListViewActivity"/>
        <activity android:name=".ViewPagerActivity"/>
        <activity android:name=".BaseActivity"/>
        <activity android:name=".DialogActivity"/>
        <activity android:name=".TimerActivity"/>
        <activity android:name=".AnimationActivity"/>
        <activity android:name=".AnimatorActivity"/>
        <activity android:name=".DialogMainActivity"/>
        <activity android:name=".launchMode.standardActivity" android:launchMode="standard"/>
        <activity android:name=".launchMode.singleTopActivity" android:launchMode="singleTop"/>
        <activity android:name=".launchMode.singleTaskActivity" android:launchMode="singleTask"/>
        <activity android:name=".launchMode.singleInstanceActivity" android:launchMode="singleInstance"/>
    </application>

</manifest>